{% for group in issues|groupby('status.name') %}
*{{ group.grouper }}*
{% for issue in group.list %}
{% set final_url = resolve_front_url("issue", issue.project.slug, issue.ref) %}
- {{issue.subject}} ({{final_url}})
{% endfor %}
{% endfor %}
