|module.run(['$templateCache', ($templateCache) ->
|  $templateCache.put('contrib/drbeat', '''
div(contrib-drbeat-webhooks, ng-controller="ContribDrBeatAdminController as ctrl")
    header
        h1
            span.project-name
                | {{::project.name}}
            span.green
                | {{::sectionName}}

    form
        div.contrib-form-wrapper
            fieldset

                label(for="email") Notification mail
                input(type="text", name="email", ng-model="drbeat.email", placeholder="Insert your mail", id="mail", data-type="email")

                label(for="hour") Hours range
                select( ng-model="drbeat.hour" ng-disabled="!drbeat.enabled" name="hour")
                    option(ng-repeat="hour in hours" value="{{hour.value}}"){{hour.label}}

                div.check-item
                    span Enable Dr.Beat
                    div.check
                        input(type="checkbox" name="notification" ng-model="drbeat.enabled")
                        div
                        span.check-text.check-yes(translate="COMMON.YES")
                        span.check-text.check-no(translate="COMMON.NO")
                div.check-item(ng-repeat="priority in drbeat.priorities | orderBy:'-order'")
                    span {{priority.name}}
                    div.check
                        input(type="checkbox" name="notification" ng-model="priority.enabled" ng-disabled="!drbeat.enabled")
                        div
                        span.check-text.check-yes(translate="COMMON.YES")
                        span.check-text.check-no(translate="COMMON.NO")

        button(type="submit", class="hidden")
        a.button-green.submit-button(href="", title="Save", ng-click="ctrl.updateOrCreateHook(drbeat)")
            span Save

    a.help-button(href="https://nephila.it", target="_blank")
        span.icon.icon-help
        span Do you need help? Check out our support page!
|''')]);
